@media(max-width:992px) {
    .footer-wrapper {
        .copyright {
            .copy-wrapper {
                @include flex(col, center, center);
                text-align: center;

                .ucas {
                    border-top: 1px solid rgba($color: $primCol, $alpha: .25);
                    margin-top: 5px;
                    padding-top: 5px;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}